body {
  font-family: Arial, sans-serif;
  background-color: #75f371;
  color: #222222;
  margin: 40;
  padding: 30px;
}
.cv-container {
  max-width: 900px;
  margin: 0 auto;
  background-color: rgb(115, 191, 221);
  padding: 30px;
  border-radius: 12px;
}
header {
  text-align: center;
  border-bottom: 2px solid #a6d0ff;
  padding-bottom: 20px;
  margin-bottom: 30px;
}
header p {
  font-size: 18px;
  color: #070707;
}


h2 {
  color: #4771af;
  font-size: 24px;
  padding-left: 10px;
  margin-bottom: 10px;
  margin-top: 20px;
}
p {
  line-height: 1.6;
  margin: 6px 0;
}
ul {
  padding-left: 20px;
}
li {
  margin-bottom: 8px;
}
footer {
  text-align: center;
  margin-top: 30px;
  padding-top: 15px;
  border-top: 1px solid #bbdaff;
  color: #666;
  font-size: 14px;
}

    h1, h2 {
        text-align: center;
    }

    p {
        text-align: justify;
    }
    h1, h2, h3, h4 {
        line-height: 1.2;
    }