body {
  font-family: Arial, sans-serif;
  background-color: #acdda7;
  color: #222222;
  margin: 40;
  padding: 20px;
}
.cv-container {
  max-width: 900px;
  margin: 0 auto;
  background-color: white;
  padding: 30px;
  border-radius: 12px;
}
header {
  text-align: center;
  border-bottom: 2px solid #dbe2ea;
  padding-bottom: 20px;
  margin-bottom: 30px;
}
header p {
  font-size: 18px;
  color: #070707;
}
h2 {
  color: #11499c;
  font-size: 24px;
  border-left: 5px solid #2563eb;
  padding-left: 10px;
  margin-bottom: 15px;
}
p {
  line-height: 1.6;
  margin: 6px 0;
}
ul {
  padding-left: 20px;
}
li {
  margin-bottom: 8px;
}
footer {
  text-align: center;
  margin-top: 30px;
  padding-top: 15px;
  border-top: 1px solid #dbe2ea;
  color: #666;
  font-size: 14px;
}
